/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

p {
  text-align: justify;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: rgba(153, 53, 239, 0.76);
  text-shadow: none;
}

::selection {
  background: rgba(153, 53, 239, 0.76);
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */
// imports
@import:   "../bower_components/font-awesome-cdn/scss/font-awesome;
// variables
$full-width: 100%;

// mixins
@mixin wiggle {
  padding: 0 2%;
}
@mixin center {
  margin: 0 auto;
}

/* Header ============================ */
header {
  width: $full-width;

}
#logo {
  width: 96%;
  @include wiggle;
  @include center;
}

nav {
  width: $full-width;
  ul{
    width: 96%;
    @include wiggle;
  }
  li {
    list-style: none;
    text-align: center;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  .subnav{
    display: none;
    text-align: left;
  }
}

/* Main Content ============================ */
#main-content{
  width: 96%;
  @include wiggle;
  @include center;
}

.top-story h2{
  display: inline;
}


.sidebar-upcoming, .sidebar-faq{
  display: none;
}
aside {
  input{
    width: 100%;
    margin-bottom: 1%;
  }
    .btn{
      text-transform: uppercase;
    }

}
// news and reviews
.feed-item img {
  float: left;
  padding-right: 10px;
}
.feed-item p {
  display: none;
}
.feed-type{
  font-size: .75em;
  text-transform: uppercase;
}

/* Footer ============================ */

footer {
  width: 70%;
  @include center;
  img {
    display: block;
  }
}









/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
//variables
$tablet: "min-width: 768px";
$desktop: "min-width: 940px";

// tablet styles
@media ($tablet) {
  //header
  #logo {
    width: 40%;
    float: left;
  }
  nav {
    width: 60%;
    float: right;
    ul{
      text-align: right;
    }
    li {
        display: inline-block;
        padding: 0 5px;
    }

  }
  // main content
  //featured item
  .hero-area {
    width: 100%;
    clear: both;
  }
    .top-img {
      width:50%;
      float: left;
      padding-right: 10px;
    }
  .top-info {
    width: 50%;
    float: right;
  }
// detail page meta
  //meta
  .feed-meta li{
    display: inline-block;
    list-style: none;
  }
  // sidebars
  .sidebar {
    clear:both;
    width: 30%;
    float: right;
  }
  .detail-newsletter {
    width: 98%;
    @include center;
    input[type='email']{
    width: 60%;
    }
    input[type='submit']{
      width: 38%;
    }
  }
  .sidebar-upcoming, .sidebar-faq{
    display: block;
    @include center;
  }
  // news and reviews
  .feed {
    width: 60%;
    float: left;
    .feed-image {
      width: 35%;
    }
  }

  //footer
  footer {
    width: $full-width;
    clear: both;
    img{
      width: 30%;
      @include center;
    }
  }
}

// desktop styles
@media ($desktop){
  //header
  header {
    width: 75%;
    max-width: 1440px;
    @include center;
  }
  // main content
  #main-content {
    width: 75%;
    max-width: 1440px;
  }

  //featured item
  .hero-area {
    width: 65%;
    clear: none;
    float: left;
  }
  .top-img {
    width:$full-width;
    padding-right: 10px;
  }
  .top-info {
    width: $full-width;
  }

  // sidebars
  .sidebar {
    width: 30%;
  }
  //footer

}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
